/* ROOT */
:root{
    --ms_grey-color: #1f1f1f;
    --ms_light-grey:#bebcbb;
    --ms_dark-blue:#161c3b;
    --ms_footer-bg:#00439c;
    --ms_white-text: white;
    --ms_text-grey: #747474;
    --ms_play-has-no-limits-color: #0072ce;
    --ms_blue-text-button:#2d64e6;
}

/* FONT */

body{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 100%;
}

/* COMMON */

/* title format */
.ms_title-text h2{
    font-weight: 550;
}

.ms_title-text p{
    color:var(--ms_text-grey);
    font-weight: 550;
}

/* jumbotron */
.ms_jumbotron{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* RESET */

li{
    list-style: none ;
}

img{
    width: 100%;
}

/* HEADER */

/* header top */
.ms_header-top img{
    width: 5rem;
}

/* navbar */
.ms_nav-link a{
    font-weight: 600;
    color: black;
}

.ms_nav-link img{
    width: 0.6rem;
    margin-left: .3rem;
    vertical-align: middle;
}

.ms_btn-grey .btn{
    background-color: var(--ms_grey-color);
}

.ms_lens-style img{
    width: 2rem;
}

/* MAIN */

/* jumbotron returnal */
.ms_jumbotron-returnal{
    background-image: url(../img/jumbo-bg.png);
    margin-top: 8rem;
    padding: 18rem 0 5rem;
}

.ms_jumbotron-text img{
    width: 12rem;
}

.ms_jumbotron-text{
    color: var(--ms_white-text);
    font-weight: 600;
}

/* game cards section */
.ms_game-cards img{
    border-radius: 10px;
}

/* introduction PS5 section*/
.ms_introduction-ps5 a{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--ms_play-has-no-limits-color);
    text-decoration: none;
}

/* console PS5 section*/
.ms_console-ps5 a{
    color: var(--ms_white-text);
}

/* PS5 gadget list section*/
.ms_ps5-gadget .ms_box-gadget{
    border-bottom: 3px solid transparent;
}

/* jumbotron it takes two section*/
.ms_jumbotron-it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    padding: 7rem 0 3rem;
}

/* new releases section */
.ms_new-releases{
    background-color: var(--ms_grey-color);
    color: var(--ms_white-text);
}

.ms_new-releases img{
    border-radius: 10px;
}

.ms_card-text{
    font-weight: 550;
}

/* explore PS4 */
.ms_ps4-reg-mark{
    font-size: .9rem;
    position: relative;
    bottom: 8px;
    right: 8px;
}

.ms_explore-ps4 .card-title{
    font-weight: 550;
}

.ms_explore-ps4 .card-body{
    text-align: left;
}

/* jumbotron play station plus */
.ms_jumbotron-ps-plus{
    background-color:var(--ms_light-grey) ;
}

.ms_jumbotron-ps-plus .ms_jumbotron-text{
    color: black;
}

.ms_jumbotron-ps-plus .ms_jumbotron-text a{
    color:var(--ms_blue-text-button);
}

/* media query */
@media all and (max-width: 768px){
    .ms_plus-monthly{
        display: none;
    }
}

/* new discounts on PS store */
.ms_new-discounts-store .ms_discount-text{
    color: var(--ms_text-grey);
}

/* jumbotron play station now */
.ms_jumbotron-ps-now{
    background-color:var(--ms_dark-blue) ;
}

.ms_jumbotron-ps-now .btn-light{
    background-color: white;
}

/* FOOTER */

/* footer top */
.ms_footer-bg{
    background-color:var(--ms_footer-bg) ;
}

.ms_play-logo{
    width: 10rem;
    position: relative;
}

.ms_play-logo-symbol{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
}

.ms_play-logo-region img{
    width: 2rem;
    padding-right: .5rem;
}

.ms_play-logo-region{
    color: white;
}

.ms_footer-lists a{
    color: white;
    text-decoration: none;
}

/* footer bottom */
.ms_bottom-footer-logo img{
    width: 10rem;
}

.ms_bottom-footer-text {
    color: white;
    padding-bottom: 10rem;
}

.ms_bottom-footer-text a{
    color: white;
}